{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="content-home">
<div class="message-bienvenida" >
    <img src="{% static 'img/logo-home.png' %}" alt="Platzi">
    <h2 class="home-bienvenido">Bienvenido a la Run Lovers</h2>
    <p class="message-entrena">Entrena hoy Preocupate mañana</p>
    
</div>
<div class="escultura-home">
    <img src="{% static 'img/deportista-removebg-preview.png' %}" alt="escultura">
</div>   
</div>

<div class="message-menu">
    <p>Usa el menú superior para:</p>
<ul>
        
        <li>📦 Ver todos los productos</li>
        <li>➕ Crear un nuevo producto</li>
    </ul>
    </div>
{% endblock %}