{% extends 'base.html' %}
{% block title %} Registrarse {% endblock%}

{% block content %}
    <div class="auth-container">
        <h2 class="register-title">Crear cuenta</h2>

        {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success
                {% elif message.tags == 'error' %}alert-error
                {% else %}alert-info{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

        <form id="register-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-register" type="submit">Registrarse</button>
        </form>

    {% if form.errors %}
  <div class="error-container">
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

        <p class="register-link">Ya tienes una cuenta? <a  href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
    </div>
{% endblock %}